{%extends 'base.html'%} 

{%block 'title'%}
contato
{%endblock%}

{% load static %}

{%block 'styles' %}
    .mini-logo{
        width: 44px;
        height: 44px;
        margin-left: 10px;
    }

    .card-size {
        width: 18rem;
    }

    @media screen and (max-width: 1400px) {
        .card-size {
            width: 17rem;
        }
    }

    @media screen and (max-width: 1200px) {
        .card-size {
            width: auto;
        }
    }
{%endblock%}

{%block 'content'%}



<div class="container" style="margin-top: 40px;">
    
    <div class="row">
        <div>
            <h3>Desenvolvido com <span style='font-size: 30px;'>&#10084;</span> por: </h3>
        </div>
    </div>
    <div class="row">

        <div class="col-md-3"  style="margin-bottom: 30px;">
            <div class="card card-size">
                <img src={% static "img/eduardo-machado.jpeg"%} class="card-img-top" alt="Eduardo Machado">
                <div class="card-body">
                    <h5 class="card-title">Eduardo Machado</h5>
                    <p class="card-text">
                        <i>"Isso qui é um texto sem muita utilidade, porem ele está aqui"</i>
                    </p>
                    <div class="text-center">
                        <a target="_blank" href="https://www.linkedin.com/in/eduardomachadorezende/"><img class="mini-logo" src={% static "img/sinal-do-linkedin.png" %}></a>
                        <a target="_blank" href="https://github.com/eduumach"><img class="mini-logo" src={% static "img/GitHub-Mark-64px.png" %}></a>    
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3"  style="margin-bottom: 30px;">
            <div class="card card-size">
                <img src={% static "img/fernando-mota.jpeg" %} class="card-img-top" alt="Fernando Mota">
                <div class="card-body">
                    <h5 class="card-title">Fernando Mota</h5>
                    <p class="card-text">
                        <i>"Meu notebook esquenta tanto, que já estou fazendo misto nele."</i>
                    </p>
                    <div class="text-center">
                        <a target="_blank" href="https://www.linkedin.com/in/fernando-mota-52717a120/"><img class="mini-logo" src={% static "img/sinal-do-linkedin.png" %}></a>
                        <a target="_blank" href="https://github.com/f3rn4nd0000/"><img class="mini-logo" src={% static "img/GitHub-Mark-64px.png" %}></a>    
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3"  style="margin-bottom: 30px;">
            <div class="card card-size">
                <img src={% static "img/ivan-rocha.jpeg" %} class="card-img-top" alt="Ivan Rocha">
                <div class="card-body">
                    <h5 class="card-title">Ivan Rocha</h5>
                    <p class="card-text">
                        <i>"99% das pessoas riem quando apertam F13."</i>
                    </p>
                    <div class="text-center">
                        <a target="_blank" href="https://www.linkedin.com/in/ivanrocha/"><img class="" src={% static "img/sinal-do-linkedin.png" %}></a>
                        <a target="_blank" href="https://github.com/ivancrneto"><img class="mini-logo" src={% static "img/GitHub-Mark-64px.png" %}></a>    
                    </div>
                </div>
            </div>
        </div>

        
        <div class="col-md-3"  style="margin-bottom: 30px;">
            <div class="card">
                <img src={% static "img/sergivaldo-junior.jpeg" %} class="card-img-top" alt="Sergivaldo Junior">
                <div class="card-body">
                    <h5 class="card-title">Sergivaldo Junior</h5>
                    <p class="card-text">
                        <i>"<b>Pergunta:</b> 0 é falso e 1 é verdadeiro,certo?&nbsp;&nbsp;<b>Resposta:</b>1 "</i>
                    </p>
                    <div class="text-center">
                        <a href="https://www.linkedin.com/in/sergivaldo-junior/"><img class="mini-logo" src={% static "img/sinal-do-linkedin.png" %}></a>
                        <a href="https://github.com/Sergivaldo"><img class="mini-logo" src={% static "img/GitHub-Mark-64px.png" %}></a>    
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3"  style="margin-bottom: 30px;">
            <div class="card card-size">
                <img src={% static "img/william-ribeiro.jpeg" %} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">William Ribeiro</h5>
                    <p class="card-text">
                        <i>"Eu não sou lá muito bom com Frontend, mas dou meus pulos"</i>
                    </p>
                    <div class="text-center">
                        <a target="_blank" href="https://www.linkedin.com/in/williamlimaribeiro/"><img class="mini-logo" src={% static "img/sinal-do-linkedin.png" %}></a>
                        <a target="_blank" href="https://github.com/wlribeiro"><img class="mini-logo" src={% static "img/GitHub-Mark-64px.png" %}></a>    
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="row" style="margin-bottom: 60px;">
        <div class="col-md-6 offset-3">
            <div class="accordion" id="mailaccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Mande um email para a gente
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#mailaccordion">
                        <div class="accordion-body">
                            <form>
                                <div class="mb-3">
                                    <input type="email" class="form-control" id="email" required placeholder="Email">
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="subject-matter" required placeholder="Assunto">
                                </div>
                                <div class="mb-3">
                                    <textarea class="form-control" name="text" id="text" cols="30" rows="10" placeholder="Menssagem..."></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}
