@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #28282B;
}

.navbar{
  border-bottom: 1px solid white;
  padding: 15px;
}

.container{
  margin-top: 20px;
}

.container-404{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-404{
  font-size: 3em;
  font-family: 'Changa', sans-serif;
}

.image-bounce:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}
.image-bounce {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
